body,
html {
  margin: 0;
  padding: 0; }

body {
  background-color: #f2f1ef;
  font-family: 'Source Sans Pro', Arial; }

.menu {
  background-color: #22313f;
  font-weight: 200;
  padding-top: 1rem;
  padding-bottom: 0; }
  .menu h1 {
    padding: 0;
    margin: 0;
    display: inline;
    float: left;
    color: #EB9532;
    font-size: 1.375em; }
  .menu .primaryMenu {
    float: right;
    list-style: none; }
    .menu .primaryMenu li {
      float: left;
      margin-right: 1rem; }
      .menu .primaryMenu li a {
        color: #fff;
        text-decoration: none; }

h2 {
  color: #C0392B; }

.content {
  margin: 2.5em auto 0.625em auto;
  background-color: #fff;
  padding: 1.875em; }
